@using System.Diagnostics.Eventing.Reader
@model CustomAuth.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "Article details";
}

@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function () {
        $("#commentArticle").click(function () {
                var method = $("form#formComment").attr('method');
                var action = $("form#formComment").attr('action');
                var testData = { 'textComment': $("#textComment").val() };

            $.ajax({
                type: method,
                url: action,
                data: JSON.stringify(testData),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                   // alert(result);
                    var data = result.split('~');
                    $("#textComment").val('');
                    $("#commentContainer").append("<div class='panel panel-default' onmouseover='ShowGlyphs(this)' onmouseout='HideGlyphs(this)' id=" + data[0] + "><div class='panel-body'><img style='width: 50px; height: 50px;' src='/UserContent/" + data[2] + "' alt='No avatar'/><span style='font-size: 12px;'>" + "  " + data[1] + " </span><span style='font-size: 12px;'>" + data[3] + " </span><div class='glyphicon glyphicon-trash hidden' style='float: right;' id='trash_" + data[0] + "' onclick='DeleteElement(this)'></div><div class='glyphicon glyphicon-edit hidden' style='float: right;' id='edit_" + data[0] + "' onclick='EditComment(this)'></div><div id='commentEditInput_" + data[0] + "' class='editing' style='height: auto; width: 300px; text-align: center;'></div><br/><p style='font-size: 16px;' id='comment_" + data[0] + "'>" + data[4] + "</p></div></div>");
                }
            });
            return false;
        }
        );
    });
</script>
<script>

    var getTrashGly = function (element) {
        var id = $(element).attr("id");
        var butId = "trash_" + id;
        return document.getElementById(butId);
    };

    var getEditGly = function (element) {
        var id = $(element).attr("id");
        var editId = "edit_" + id;
        return document.getElementById(editId);
    };

    function ShowGlyphs(element) {
        $(getTrashGly(element)).removeClass('hidden');
        $(getEditGly(element)).removeClass('hidden');
    };

    function HideGlyphs(element) {
        $(getTrashGly(element)).addClass('hidden');
        $(getEditGly(element)).addClass('hidden');
    };

    function CloseEdit(element) {
        var editBlockId = $(element).parent().attr("id");
        var editBlock = document.getElementById(editBlockId);
        editBlock.innerHTML = "";
    };

    function Edit(element) {
        var id = $(element).parent().parent().parent().attr("id");
        var commentText = $('#userComment').val();
        var data = id + '~' + commentText;

        $.get("/Comment/EditComment?data=" + data, function (response) {
           if (response === "ok") {
               $("#comment_" + id).html(commentText);
               $(".editing").empty();
           }
        });
    }
    
    function EditComment(element) {
        $(".editing").empty();
        var id = $(element).parent().parent().attr("id");
        var spanEditing = $("#commentEditInput_" + id);
        
        var c = $('#comment_' + id).html();
        spanEditing.html("<input type='text' name='UserComment' id='userComment' required value='' /><div class='glyphicon glyphicon-remove' onclick='CloseEdit(this)'></div><span class='btn btn-default' id='saveComment' onclick='Edit(this)'>Изменить</span>");
        $('#userComment').val(c);
    }

    function DeleteElement(element) {    
        var id = $(element).parent().parent().attr("id");
        //alert(id);
        $.get("/Comment/DeleteComment?id=" + id, function (response) {
            if (response === "ok") {
                //document.getElementById(id).remove();
                $('#' + id).remove();
            }
        });
    }
</script>

<div class="col-md-9">
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>@Model.Title</h2>
            <b>
                <span> | Опубликовано @Model.Author</span>
                <span> | @Model.TimeAdded |</span>
                <br />
                | <i>
                    Тэги:
                    @if (Model.Tags != null)
                    {
                        foreach (var tag in Model.Tags)
                        {
                            <a href="@Url.Action("ByTag","Search", new {tag = tag.TagField})" class="btn btn-primary btn-xs">@tag.TagField</a>
                        }
                    }
                    else
                    {
                        <span>Отсутствуют</span>
                    }
                </i>
            </b>
            <br />
            <img src="/UserContent/@Model.ImagePath" width="33%" height="30%" alt="post img" style="float: left; margin: 7px 7px 7px 7px;">
            <span style="word-wrap: break-word">@Model.Content</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6" id="commentContainer">
            @if (Model.Comments != null)
            {
                <h4>Комментарии к статье:</h4>
                foreach (var comment in Model.Comments)
                {
                    <div class="panel panel-default" onmouseover="ShowGlyphs(this)" onmouseout="HideGlyphs(this)" id="@comment.Id">
                        <div class="panel-body">
                            <img style="width: 50px; height: 50px;" src="/UserContent/@comment.AvatarPath" alt="No avatar"/>
                            <span style="font-size: 12px;">@comment.Author </span>
                            <span style="font-size: 12px;"> @comment.Date</span>
                            <div class="glyphicon glyphicon-trash hidden" style="float: right;" id="trash_@comment.Id" onclick="DeleteElement(this)"></div>
                            <div class="glyphicon glyphicon-edit hidden" style="float: right;" id="edit_@comment.Id" onclick="EditComment(this)"></div>
                            <div id="commentEditInput_@comment.Id" class="editing" style="height: auto; width: 300px; text-align: center;"></div>
                            <br/>
                            <p style="font-size: 16px;" id="comment_@comment.Id">@comment.TextComment</p>
                        </div>
                    </div>
                }
            }
            
        </div>
    </div>
    <br/>
    <hr/>

    @using (Html.BeginForm("NewComment", "Comment", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", @id = "formComment", @style = "margin-left: 15px;" }))
    {
        @Html.ValidationSummary(true)
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label class="control-label">Оставить комметарий</label>
            <input type="text" class="form-control" id="textComment">
        </div>
        <input type="submit" class="btn btn-default" id="commentArticle" value="Комментировать" />
    }
</div>