@model IEnumerable<CustomAuth.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Bloggers";
}

  <h2>Registered bloggers</h2>

    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
          
        </tr>

        @foreach (var item in Model)
        {
            <tr class="text-primary">
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
            </tr>
        }

    </table>


