@model IEnumerable<CustomAuth.ViewModels.UserViewModel>
@{
    ViewBag.Title = "Index";
}
@if (User.IsInRole("User"))
{
    <h1>Hello @User.Identity.Name</h1>
}
<h2>Registered users</h2>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreationDate)
        </th>
               <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
        </tr>
    }

</table>
