@using CustomAuth.Pagination
@model CustomAuth.ViewModels.ArticleViewModelPagination


@Scripts.Render("~/bundles/jquery")

<script>
    $(document).ready(function() {
        $(".del").click(function (e) {
            var id = e.target.id;
            $.get("/Article/Delete?id=" + id, function (response) {
                if (response === "ok") {
                    //alert(response);
                    var artId = "art_" + id;
                    document.getElementById(artId).remove();
                }
            });
            return false;
        });
    });
</script>

<div class="col-lg-9">
    <div>
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Статьи блога @ViewBag.BlogName</h4>
                <h6>Создан @ViewBag.DateCreated</h6>
            </div>
        </div>
        
        <br/>
        <table class="table table-hover">
            <tr>
                <th>
                    @Html.DisplayName("Id")
                </th>
                <th>
                    @Html.DisplayName("Заголовок")
                </th>
                @if (ViewBag.IsModerating)
                {
                    <th></th>
                    <th></th>
                }
            </tr>

            @foreach (var item in Model.ArticleViewModels)
            {
                <tr class="text-primary" id="art_@item.Id">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-eye-open"></span>
                        @Html.DisplayFor(modelItem => item.CountViews)
                    </td>
                    <td>
                        <span class="glyphicon glyphicon-comment"></span>
                        @Html.DisplayFor(modelItem => item.CountComments)
                    </td>
                    <td>
                        <a href="@Url.Action("Details","Article", new {id = item.Id})" class="btn-sm btn-default">Подробнее</a>
                    </td>
                    @if (ViewBag.IsModerating)
                    {
                        <td>
                            <a href="@Url.Action("Delete","Article", new {id = item.Id})" class="btn-sm btn-danger del" id="@item.Id">Удалить</a>
                        </td>
                        <td>
                            <a href="@Url.Action("Edit","Article", new {id = item.Id})" class="btn-sm btn-primary">Редактировать</a>
                        </td>
                    }
                </tr>
            }

        </table>
        @if (Model.PageInfo.TotalPages != 1)
        {
            <div class="btn-group">
                @Html.PageLinks(Model.PageInfo, x => Url.Action("Details", new {page = x, id = ViewBag.Id}))
            </div>
        }
    </div>
</div>